{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VIP-X Live</title>
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <body>
    <div class="intro">
        <h1>Welcome to VIP-X Live!</h1>
        <h2>Here you can find the best professional models of the world!</h2>
        <!-- create a signup and signin button-->
        <a href="{% url 'login' %}" class="button">Sign In</a>
        <a href="{% url 'register' %}" class="button">Sign Up</a>
    </div>
  </body>
</head>
</html>